In [3]:
import numpy as np
import pandas as pd

In [5]:
lunch = pd.DataFrame({'weather' : [1], 'rice' : [0], 'noodle' : [0], 'spicy' : [0], 'soup' : [0],'choice' : [0] })

In [6]:
lunch

   weather  rice  noodle  spicy  soup  choice
0        1     0       0      0     0       0

In [8]:
lunch.tail()

   weather  rice  noodle  spicy  soup  choice
0        1     0       0      0     0       0

In [15]:
lunch.loc[[0]]

   weather  rice  noodle  spicy  soup  choice
0        1     0       0      0     0       0